/* navbar */
.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand img {
    height: 56px;
    width: 260px;
}

.nav-link {
    font-size: 18px;
    margin-left: 20px;
}

/* dropdown */
.dropdown-item {
    font-size: 15px;
}

/* jumbotron */
.jumbotron {
    background-image: url(imgkpi/kpi1.jpg);
    background-size: cover;
    height: 640px;
    position: relative;
    text-transform: uppercase;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    font-size: 25px;
    font-weight: 300;
    margin-top: 200px;
    margin-right: 20px;
    position: absolute;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.jumbotron .display-4 span {
    font-weight: 500;
}

/* info panel */
.info-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -50px;
    background-color: white;
    padding: 30px;
    position: relative;
}

.info-panel img {
    height: 60px;
    width: 60px;
    margin-top: 10px;
}

.info-panel h4 {
    font-size: 23px;
    text-transform: uppercase;
    margin-top: 10px;
}

.info-panel p {
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}


/* body */
body {
    background-color: rgb(248, 247, 247);
}


/* about */
.about {
    margin-top: 100px;
    margin-bottom: 100px;
}

.about h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about p {
    font-size: 20px;
    padding: 0 50px;
}

/* vision */
#vision {
    background-image: linear-gradient(to top, rgba(235, 235, 235, 1), rgba(0,0,0,0));
    padding: 0 50px;
}

#vision h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 50px;
}

#vision img {
    height: 35px;
    width: 35px;
}

#vision p {
    font-size: 20px;
    text-align: center;
}

/* mission */
#mission {
    background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(235, 235, 235, 1));
    margin-bottom: 150px;
}

#mission h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
}

#mission p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

#mission img {
    height: 35px;
    width: 35px
}

/* content */
.content {
    margin-bottom: 100px;
}

.content h2 {
    text-transform: uppercase;
}

.content p {
    font-size: 15px;
}

/* product */
#product {
    margin-bottom: 150px;
}

#product img {
    height: 350px;
    width: 230px;
    border-radius: 10px;
}

/* activity */
#activity h2 {
    margin-bottom: 40px;
}

#activity img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.7);
}

#activity p {
    font-size: 20px;
    font-style: italic;
    margin-top: 15px;
}


/* footer */
footer {
    background-color: rgb(51, 51, 51);
    padding-top: 20px;
    padding-bottom: 50px;
}

footer h4 {
    color: rgb(255, 255, 255);
    font-size: 23px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}

footer h6 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    text-align: center;
    margin-bottom: 15px;
}

footer li {
    color: rgba(255, 248, 220, 0.685);
    font-size: 16px;
    padding: 0 50px;
    margin-bottom: 10px;
}

footer img {
    height: 20px;
    width: 20px;
}

/* desktop ver */
@media (min-width: 992px) {
    .nav-link {
        text-transform: uppercase;
    }

    .navbar-brand img {
        height: 76px;
        width: 350px;
    }

    .dropdown-item {
        text-transform: uppercase;
    }

    .jumbotron .display-4 {
        font-size: 40px;
        margin-top: 220px;
        margin-left: 30px;
        line-height: 55px;   
    }

    .info-panel p {
        margin-left: -5px;
        margin-right: -5px;
    }

    .about p{
        font-size: 23px;
    }

    #vision img {
        height: 45px;
        width: 45px;
    }

    #vision p {
        font-size: 23px;
    }

    #mission img {
        height: 45px;
        width: 45px;
    }

    #mission p {
        font-size: 23px;
        margin-left: -10px;
        margin-right: -10px;
    }
    
    .content p {
        font-size: 18px;
    }

    #product img {
        height: 750px;
        width: 550px;
    }

    footer li {
        margin-left: -70px;
        margin-right: -50px;
    }

}
