/* navbar */
.navbar {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);;
}

.navbar-brand img {
    height: 56px;
    width: 260px;
}

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    font-size: 18px;
    margin-left: 20px;
}


/* jumbotron */
.jumbotron {
    background-image: url(imgkpi/kpi1.jpg);
    background-size: cover;
    height: 640px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    font-size: 25px;
    font-weight: 300;
    margin-top: 150px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.jumbotron .display-4 span {
    font-weight: 500;
}

/* info panel */
.info-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    margin-top: -100px;
    background-color: white;
    padding: 30px;
    position: relative;
}

.info-panel img {
    height: 60px;
    width: 60px;
    margin-top: 10px;
}

.info-panel h4 {
    font-size: 23px;
    text-transform: uppercase;
    margin-top: 10px;
}

.info-panel p {
    font-size: 17px;
    font-style: italic;
    margin-left: 50px;
    margin-right: 50px;
}


/* body */
body {
    background-color: rgb(248, 247, 247);
}


/* about */
.about {
    padding-top: 150px;
    margin-bottom: 50px;
}

.about h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about p {
    font-size: 20px;
    padding: 0 50px;
}

/* vision */
.vision {
    background-image: linear-gradient(to top, rgba(235, 235, 235, 1), rgba(0,0,0,0));
    padding: 0 50px;
}

.vision h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 50px;
}

.vision img {
    height: 35px;
    width: 35px;
}

.vision p {
    font-size: 20px;
    text-align: center;
}

/* mission */
.mission {
    background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(235, 235, 235, 1));
}

.mission h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
}

.mission p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.mission img {
    height: 35px;
    width: 35px
}

/* company */
.company {
    padding-top: 150px;
}

.company h2 {
    text-transform: uppercase;
    text-align: center;
}

/* part */
.part {
    margin-bottom: 100px;
}

.part p {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: -0.5px;
}

.progress {
    height: 30px;
}

/* award */
.award {
    margin-bottom: 100px;
}

.award h2 {
    margin-bottom: 20px;
}

.award img {
    margin: 10px 0;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
}

.award h6 {
    text-transform: uppercase;
}

.award p {
    font-style: italic;
}

.award .col-lg-4:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* activity */
.activity {
    margin-top: 50px;
}

.activity h2 {
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
}

.activity img {
    height: 300px;
    width: 300px;
    border-radius: 40px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.7);
}

.activity p {
    font-size: 17px;
    font-style: italic;
    margin-top: 15px;
}

/* factory */
.factory {
    margin-bottom: 150px;
    padding-top: 150px;
}

.factory h2 {
    font-size: 20px;
    text-transform: uppercase;
}

.factory p {
    font-size: 13px;
}

/* product */
.product {
    margin-bottom: 100px;
}

.product img {
    height: 350px;
    width: 230px;
    border-radius: 10px;
    margin-right: 15px;
}

/* footer */
footer {
    background-color: rgb(51, 51, 51);
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact h4 {
    color: rgb(255, 255, 255);
    font-size: 23px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}

.contact h6 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    text-align: center;
    margin-bottom: 15px;
}

footer li {
    color: rgba(255, 248, 220, 0.685);
    font-size: 16px;
    margin-bottom: 10px;
}

.contact img {
    height: 20px;
    width: 20px;
}

footer p {
    color: white;
    text-align: center;
    border-top: 1px groove white;
    padding-top: 50px;
}

.contact {
    margin-bottom: 50px;
}


/* desktop ver */
@media (min-width: 992px) {
    .nav-link {
        text-transform: uppercase;
    }

    .navbar-brand img {
        height: 76px;
        width: 350px;
    }

    .jumbotron .display-4 {
        font-size: 40px;
        line-height: 55px;   
    }

    .info-panel p {
        margin-left: -5px;
        margin-right: -5px;
    }

    .about p{
        font-size: 23px;
    }

    .vision img {
        height: 45px;
        width: 45px;
    }

    .vision p {
        font-size: 23px;
    }

    .mission img {
        height: 45px;
        width: 45px;
    }

    .mission p {
        font-size: 23px;
        margin-left: -10px;
        margin-right: -10px;
    }
    
    .factory p {
        font-size: 18px;
    }

    .product h2 {
        font-size: 30px;
    }
    .product img {
        height: 700px;
        width: 500px;
    }

}

