/* navbar */
.navbar {
    position: relative;
}

.navbar-brand img {
    height: 56px;
    width: 260px;
}

.nav-link {
    font-size: 18px;
    margin-left: 20px;
}

/* dropdown */
.dropdown-item {
    font-size: 15px;
}

/* jumbotron */
.jumbotron {
    background-image: url(imgkpi/kpi1.jpg);
    background-size: cover;
    height: 640px;
    position: relative;
    text-transform: uppercase;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    font-size: 25px;
    font-weight: 300;
    margin-top: 200px;
    margin-right: 20px;
    position: absolute;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.jumbotron .display-4 span {
    font-weight: 500;
}

/* about */
.about {
    margin-top: 100px;
    margin-bottom: 100px;
}

.about h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about p {
    font-size: 20px;
    padding: 0 50px;
}

.about svg {
    margin-bottom: -120px;
    margin-left: -12px;
    margin-right: -12px;
}

/* vision */
#vision {
    background-color: #ebebeb;
    padding: 0 50px;
}

#vision h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#vision img {
    height: 35px;
    width: 35px;
}

#vision p {
    font-size: 20px;
    text-align: center;
}

/* mission */
#mission {
    background-color: #ebebeb;
}

#mission h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
}

#mission p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

#mission img {
    height: 35px;
    width: 35px
}


/* desktop ver */
@media (min-width: 992px) {
    .nav-link {
        text-transform: uppercase;
    }

    .navbar-brand img {
        height: 76px;
        width: 350px;
    }

    .dropdown-item {
        text-transform: uppercase;
    }

    .jumbotron .display-4 {
        font-size: 40px;
        margin-top: 220px;
        margin-left: 30px;
        line-height: 55px;
        
    }

    .about p{
        font-size: 23px;
    }

    .about svg {
        margin-left: -116px;
        margin-right: -116px;
    }

    #vision img {
        height: 45px;
        width: 45px;
    }

    #vision p {
        font-size: 23px;
    }

    #mission img {
        height: 45px;
        width: 45px;
    }

    #mission p {
        font-size: 23px;
        margin-left: -10px;
        margin-right: -10px;
    }

}
